@import "~react-image-gallery/styles/scss/image-gallery.scss";
$card-point-color: rgb(0, 174, 255);
$card-link-color: #536872;
$card-width: 200px;
$card-height: 200px;

.imgGalleryCont {
  //   width: 90vw;
}

.reactPlayer {
  margin-top: 30px;
}

.showGallery {
  width: 20px;
  height: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.gotoProj {
  width: 170px;
  height: 40px;
  border-radius: 20px;
  background: $card-point-color;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  .btnProjText {
    font-size: 16px;
    color: $card-link-color;
  }

  &:hover {
    transform: translateX(5px);
  }
}

.arrowText {
  font-size: 12px;
  position: absolute;
  bottom: -100px;
  transition: 0.5s;
}

.arrowBtn {
  width: 100%;
  height: 100%;
  font-size: 30px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: stretch;

  &:hover {
    font-size: 40px;
    transition: 0.5s;
  }
}

.arrowCont {
  width: 100px;
  height: 80px;
  overflow: hidden;
  position: relative;


  &:hover {
    .arrowText {
      bottom: 0;
      transition: 0.5s;
    }
  }
}

.backBtn {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  overflow: hidden;

  &:hover {
    transition: 1s;
    background: lightcyan;
  }
}

.projBox {
  padding: 20px;
  min-height: 100vh;
}

.projContArrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projCont {
  background: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 80vw;

  .titleProj {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1,
    h3 {
      text-align: center;
    }
  }

  .imgSpinner {
    position: absolute;
    top: 45%;
    left: 45%;
  }

  .imgContainer {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .immagine {
      opacity: 0.5;
      transition: opacity 1s linear 0s, transform 0.5s linear;
      z-index: 100;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        filter: blur(1px);
      }
    }

    .img1 {
      max-width: 60%;
      border-radius: 10px;
    }

    .img2 {
      max-width: 60%;
      margin-left: 20%;
      border-radius: 10px;
    }

    .show {
      transform: scale(0);
      opacity: 0;
      height: 80px;
      width: 80px;
      border-radius: 100%;
      background: $card-point-color;
      position: absolute;
      top: ($card-width/2)-40px;
      left: ($card-height/2)-40px;
      z-index: 1;
      transition: transform 0.5s ease-in, opacity 0.5s ease-in;
      display: flex;
      justify-content: center;
      align-items: center;

      .showText {
        margin-top: 7px;
        font-size: 8px;
      }

      .textCardColor {
        color: $card-link-color;
      }
    }
  }
}

.cardFont {
  font-size: 10px;
}

.lineThrough {
  position: relative;
  display: block;
  cursor: pointer;
}

.lineThrough:before,
.lineThrough:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  top: 55%;
  margin-top: -0.5px;
  background: $card-link-color;
}

.lineThrough:before {
  left: -2.5px;
}

.lineThrough:after {
  right: 2.5px;
  background: $card-link-color;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.lineThrough:hover:before {
  background: $card-link-color;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.lineThrough:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}