@import "./src/scss/variables";

.boxTeam {
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	margin-top: 100px;

	.teamcontainer {
		width: 100vw;
		height: auto;
		padding: 30px;
		margin-left: 6%;
		margin-top: 10px;
		margin-right: 7%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.team1 {
			font-size: 50px;
			font-weight: bold;
		}

		.team2 {
			font-size: 23px;
			margin-top: 50px;
			text-align: center;
		}

		.team3 {
			font-size: 20px;
			margin-top: 50px;
			text-align: center;
			font-weight: bold;

		}

		.team4 {
			font-size: 13px;
			text-align: center;
			color: rgb(172, 172, 172);
		}
	}
}

.divisorio {
	width: 80%;
	height: 5px;
	border-bottom: 1px solid rgb(167, 167, 167);
	margin-bottom: 10px;
}

.linearDiv {
	width: 50vw;
	height: 5px;
	border-bottom: 1px solid rgb(167, 167, 167);
}

.fourPresentationDiv {
	width: 100vw;
	height: auto;
	display: flex;
	justify-content: center;

	.presentationDivTeam {
		width: 20vw;
		height: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		margin: 20px 20px;
		padding-top: 50px;
		overflow: hidden;
		position: relative;


		.memberTitle {
			font-size: 20px;
			transition: .5s;
			color: rgb(112, 112, 112);
			font-weight: bold;
			z-index: 9999;

		}

		.memberDesc {
			font-size: 17px;
			font-style: italic;
			color: rgb(167, 167, 167);
			transition: .5s;
			z-index: 9999;


		}

		.memberStory {
			position: absolute;
			top: 1000px;
			font-size: 12px;
			padding: 15px;
			text-align: center;
			line-height: 20px;
			transition: .5s;

		}



		.imgBox {
			width: 100%;
			position: relative;
			margin-bottom: 30px;
			display: flex;
			justify-content: center;
			align-items: center;

			.memberImg {
				max-width: 100%;
			}

			.hoverDiv {
				width: 100%;
				height: 100%;
				background: rgba(71, 71, 71, 0.719);
				opacity: 0;
				position: absolute;
				top: 0;

			}

			&:hover {
				.hoverDiv {
					opacity: 1;
					transition: .5s;

				}
			}
		}

		&:hover {

			overflow: visible;


			.memberStory {
				transition: .5s;
				top: 350px;
			}

			.memberTitle {
				transition: .5s;

				color: rgb(240, 240, 240)
			}

			.memberTitle,
			.memberDesc {
				transition: .5s;
				transform: translateY(-180px);
				pointer-events: none;
			}

			.divisorio {
				transition: .5s;
				transform: translateY(-120px);


			}
		}

	}
}