$link-hover-color: #6e7f80;
$link-color: #00aeff;
$page-background-color: #536872;
$nav-background-color: #36454f;
$nav-background-color-nav: #36454fa9;
$card-link-color: #13505B;


$navbar-color: rgba(29, 29, 29, 0.712);
$navbar-item-color: rgba(231, 231, 231, 0.815);
$navbar-item-borders-color: rgba(202, 202, 202, 0.219);
$btn-primary-color: rgb(59, 59, 59);

$title-color: rgb(204, 204, 204);
// #0C7489 #13505B #D7D9CE