@import "~react-image-gallery/styles/scss/image-gallery.scss";
$card-point-color: rgb(0, 174, 255);
$card-link-color: #536872;
$card-width: 200px;
$card-height: 200px;






.topSearch {
  width: 100%;
  height: 30px;
  display: flex;

  .tableTitle {
    font-size: 25px;

  }

  .tableSearchBar {
    width: 120px;
    height: 100%;
    background: red;
  }
}